.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .navbar-logo {
        font-weight: bold;
        font-size: 20px;
        cursor: pointer;
    }

    .search-container {
        flex: 1;
        display: flex;
        justify-content: center;
    }

    .search-field {
        width: 50%;
        min-width: 250px;
        transition: box-shadow 0.3s;

        &:focus-within {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }
    }

    .navbar-right {
        display: flex;
        align-items: center;
        gap: 10px;
    }
}